body {
  /*display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;*/
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #008CBA, #01475e);
  font-family: Arial, sans-serif;
  color: white;
  /*background-image: linear-gradient(to right, #6e511d, #e9dbc1);*/
}

.container {
  text-align: center;
  margin: 0 auto;
  padding: 2em;
  max-width: 600px;
  margin-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-bar {
  margin: 0;
  padding: 10px;
  color: #ffffff;  /* White text */
  width: 100%;  /* Full width */
}


.button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #008cba;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

span, p {
  color: white;
}

h1, p, button {
  margin-bottom: 1em;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.title, .titlebig {
  text-align: center;
  color: #FFD700;  /* Golden */
}

.titlebig {
  font-size: large;
}

table {
  max-width: 1200px;
  color: white;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 0.8em;
  text-align:left;
}

th, td {
  padding: 2px;
  color:white;
  text-align: left;
  border-bottom: 1px solid #aaa;
  white-space: normal;
  word-wrap: break-word;
}

th {
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFD700;  /* Golden */
  text-align:left !important;
}

tr {
  border-bottom: 3px solid #aaa;
}

tr:hover {
  background-color: rgba(0, 0, 0, 0.4);
}