body {
  /*display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;*/
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #008CBA, #01475e);
  font-family: Arial, sans-serif;
  color: white;
  /*background-image: linear-gradient(to right, #6e511d, #e9dbc1);*/
}

.container {
  text-align: center;
  margin: 0 auto;
  padding: 2em;
  max-width: 600px;
  margin-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100% !important;
}

.title-bar {
  margin: 0;
  padding: 10px;
  color: #ffffff;  /* White text */
  width: 100%;  /* Full width */
}


.button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #008cba;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

span, p {
  color: white;
}

h1, p, button {
  margin-bottom: 1em;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.title, .titlebig {
  text-align: center;
  color: #FFD700;  /* Golden */
}

.subtitle_red {
  color: red;
  background-color: #c2effe;
  word-wrap: break-word; /* Older browsers support */
  overflow-wrap: break-word; /* Standard for most modern browsers */
  white-space: normal; 
}

.titlebig {
  font-size: large;
}

table {
  max-width: 1200px;
  color: white;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 0.8em;
  text-align:left;
}

th, td {
  padding: 2px;
  color:white;
  text-align: left;
  border-bottom: 1px solid #aaa;
  white-space: normal;
  word-wrap: break-word;
}

th {
  background-color: rgba(0, 0, 0, 0.5);
  /*color: #FFD700;  /* Golden */
  text-align:left !important;
}

tr {
  border-bottom: 3px solid #aaa;
}

tr:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.toggle-button {
  font-size: 1em;
  color: #fdd835; /* Texto amarillo */
  background-color: transparent; /* Fondo transparente */
  border: 2px solid #fdd835; /* Borde amarillo */
  padding: 10px 15px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer;
  width: auto; /* Ancho automático */
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin: 10px auto;
  transition: background-color 0.3s, color 0.3s;
}

.toggle-button:hover {
  background-color: #fdd835; /* Fondo amarillo en hover */
  color: #3b6b8c; /* Texto azul oscuro en hover */
}

.toggle-content {
    display: none;
    color: #fff; /* Texto blanco */
}

.toggle-content.show {
    display: flex;
}

.arrow {
    font-size: 1.2em;
    margin-left: auto; /* Flecha alineada a la derecha */
}

.custom-hr {
    border: 0;
    height: 1px; /* Grosor de la línea */
    background-color: #fdd835; /* Color amarillo */
    margin: 20px 0; /* Espaciado superior e inferior */
}